.DS_Store
server/node/node_modules/
server/data/
server/mongo/
server/backend/secret.yaml
server/backend/secrets-google.yaml
server/shellCommands
client/eotm-bot/botbuilder-samples/.github
client/eotm-bot/botbuilder-samples/build
client/eotm-bot/botbuilder-samples/docs
client/eotm-bot/botbuilder-samples/generators
client/eotm-bot/botbuilder-samples/migrationV3V4
client/eotm-bot/botbuilder-samples/.editconfig
client/eotm-bot/botbuilder-samples/.gitattributes
client/eotm-bot/botbuilder-samples/CONTRIBUTING.md
client/eotm-bot/botbuilder-samples/INSTALLING_CLI_TOOLS.md
client/eotm-bot/botbuilder-samples/LICENSE.md
client/eotm-bot/botbuilder-samples/README.md
client/eotm-bot/botbuilder-samples/SPEC.md
client/eotm-bot/botbuilder-samples/samples/python/08.suggested-actions/venv
client/eotm-bot/botbuilder-samples/samples/python/wip
client/client/localhost.crt
client/client/localhost.key
api/

