{% extends 'riaapp/admin_base.html' %}
{% block content %}

<div>
  <h3>You can upload and add your requirements from file to the project.</h3>
  <br>
  <form id="fileform" method="post" enctype="multipart/form-data" action="{% url 'riaapp:addreqspage' %}">
    {% csrf_token %}
    <input id="filein" type="file" name="reqs_file" class="btn-primary"/>
    <input id="submitbtn" type="submit" name="submit" value="Upload" class="btn btn-primary btn-file"/>
  </form>
  <p>{{msg}}</p>
</div>
<br>
<hr>
<br>
<div class="row" style="margin-top: 3% margin: 0 auto; white-space: nowrap;">
  <h3>You can simply write and add your requirements to the project.</h3>
  <br/>
  <br/>
  <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
    {%include 'riaapp/AddBar.html' %}
  </div>
</div>

{% endblock content %}

{% block footer %}
<a class="btn btn-primary" style="width: 100%; " href="{% url 'riaapp:analyze' %}?fresh=True" value="True">Update Interdependencies</a>
{% endblock footer %}


{% block javascript %}
<script type="text/javascript">
  //if (addReqFunction($('#new_req_text').val(), true))
  $('#new_req_btn').click(function (e) {
    txt = $('#new_req_text').val();
    type = $('#issue_type_dd').val();
    priority = $('#priority_dd').val();
    effort = $('#effort_input').val();
    res = addIssueFunction(txt, priority, type, effort, false);
    console.log(res);
    if (res == true) {
      alert('Successfully added!');
    }
  });
</script>
{% endblock javascript %}
</body>

</html>