{% extends 'riaapp/admin_base.html' %}
{% block content %}
<div class="row" style="margin: 0 auto;">
  <div class="card shadow" style="margin: 1% auto;">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Dependencies</h3>
        </div>
        <div class="col text-right">
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table id="deps_table" class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">First Requirement (from)</th>
            <th scope="col">Second Requirement (to)</th>
            <th scope="col">Correctness</th>
          </tr>
        </thead>
        <tbody>
          {% for d in deps %}
          <tr>
            <td hidden="true">
              {{d.id}}
            </td>
            <td scope="row" style="word-wrap: break-word; word-break: break-all; white-space: normal;">
              {{d.source}}
            </td>
            <td style="word-wrap: break-word; word-break: break-all; white-space: normal;">
              {{d.destination}}
            </td>
            <td>
              <a id="correct_btn" class="btn btn-sm btn-primary" style="background-color: #008000; color: white;">Correct</a>
              <a id="wrong_btn" class="btn btn-sm btn-primary" style="background-color: #DC143C; color: white;">Wrong</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>
</div>
</div>
{% endblock content %}




{% block javascript %}
<script type="text/javascript">

  $("a").click(function (e) {
    if (e.currentTarget.id == 'wrong_btn') {
      positive = false;
    } else if (e.currentTarget.id == 'correct_btn') {
      positive = true;
    }
    else {
      return;
    }
    dep_id = e.currentTarget.parentElement.parentElement.children[0].innerText.trim();
    
    $.ajax({
      url: '/riaapp/addlearninstance/',
      data: {
        'dep_id': dep_id,
        'positive': positive
      },
      dataType: 'json',
      success: function (data) {
        if (positive == true) {
          e.currentTarget.parentElement.parentElement.style.backgroundColor = "#2dce89";
        } else {
          e.currentTarget.parentElement.parentElement.style.backgroundColor = "#f5365c";
        }
        e.currentTarget.parentElement.parentElement.style.color = "white";
      }
    });

  });
</script>
{% endblock javascript %}
