{% extends 'riaapp/main_base.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-10 mx-auto">
    <h1 class="text-uppercase">
      <strong>Analyze the Interdependencies of Your Requirements</strong>
    </h1>
    <hr>
  </div>
  <div class="col-lg-8 mx-auto">
    <p class="text-faded mb-5">Start by uploading a requirements document, understand how the requirements are interdependent by visualizations and advanced analytics</p>
    <form id="fileform" method="post" enctype="multipart/form-data" action="{% url 'riaapp:loadfile' %}">
      {% csrf_token %}
      <input id="filein" type="file" name="reqs_file" class="btn-primary"/>
      <input id="submitbtn" type="submit" name="submit" value="Upload" class="btn btn-primary btn-file"/>
    </form>
    <br>
    {% if content %}
    <p id="status">{{ content }}</p>
    <p id="dbsize" style="visibility: hidden;">{{ size }}</p>
    {% endif %}
    <button id="analyzebtn" class="btn btn-primary" style="width: 100%;">Analyze</button>
    <br><br>
    <button id="freshbtn" class="btn btn-primary" style="width: 100%;">Start Fresh by Manually Inserting Requirements</button>
    <br><br>
    <div id="myProgressdiv" style="visibility: hidden; width: 100%; background-color: #ddd;">
      <div id="myBar" style="width: 1%; height: 30px; background-color: #4CAF50;"></div>
    </div>
  </div>
</div>
{% endblock content %}


<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Requirements Interdependency Analyzer</h2>
        <hr class="light my-4">
        <p id="recontent" class="text-faded mb-4">RE.IN.Alyze enables you to analyze the interdependencies among your requirements. Acquiring such a knowledge improves your requirements prioritization, system design, test design and system maintenance. Using machine learning techniques, RE.IN.Alyze can be trained on your requirements and your specific self-defined interdependencies in order to provide you a customized abilities.</p> 
      </div>
    </div>
  </div>
</section>

{% block javascript %}
<script>
  $('#analyzebtn').click(function(){
    dbsize = parseInt($('#dbsize').html());
    dbsize = dbsize;
    bar = 0
    var id = setInterval(frame, 210);
    $('#myProgressdiv').css("visibility","visible");
    function frame(){
      bar = bar + 14;
      w = Math.ceil(bar / dbsize);
      if (w >= 100)
        clearInterval(id);
      else {
        $('#myBar').css('width', w+'%');
        $('#myBar').html(w+'%');
      }
    }
    window.location.href = 'analyze';
  });
</script>
{% endblock javascript %}

