{% extends 'riaapp/main_base.html' %}

{% block content %}
<div class="row">
  <h2 class="text-uppercase" style="margin-left: auto; margin-right: auto;">
    <strong>Please select your project from the list</strong>
  </h2>
</div>
<div class="table-responsive" style="margin-top: 3%;">
  <table id="projs_table" class="table align-items-center table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="cursor: auto;">Project Name</th>
        <th scope="col">Project Description</th>
      </tr>
    </thead>
    <tbody>
      {% for p in projs %}
      <tr style="cursor: pointer;">
        <th hidden="true">
          {{p.id}}
        </th>
        <th scope="row" style="word-wrap: break-word; word-break: break-all; white-space: normal;">
          {{p.name}}
        </th>
        <td>
          {{p.description}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}