{% extends 'riaapp/main_base.html' %}

{% block content %}
<div class="row">
  <h2 class="text-uppercase" style="margin-left: auto; margin-right: auto;">
    <strong>Please select your project from the list</strong>
  </h2>
</div>
<div class="table-responsive" style="margin-top: 3%;">
  <table id="projs_table" class="table align-items-center table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="cursor: auto;">Project Name</th>
        <th scope="col">Project Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for p in projs %}
      <tr style="cursor: pointer;">
        <th hidden="true">
          {{p.id}}
        </th>
        <th scope="row" style="word-wrap: break-word; word-break: break-all; white-space: normal;">
          {{p.name}}
        </th>
        <td>
          {{p.description}}
        </td>
        <td>
          <a class="btn btn-primary btn_del" href="">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block javascript %}
<script>
  $('#projs_table > tbody > tr').click(function(e){
    proj_id = e.currentTarget.children[0].innerText.trim();
    window.location.href = "{% url 'riaapp:analyze' %}?id="+proj_id;
  });


  $('.btn_del').click(function(e){
    proj_id = e.currentTarget.parentElement.parentElement.children[0].innerText.trim();
    del = confirm("Are you sure you want to delete the project?");
    if (del == false) {
      return;
    }
    $.ajax({
      url: '/riaapp/delproj/',
      data: {
        'proj_id': proj_id
      },
      dataType: 'json',
      success: function (data) {
        e.currentTarget.parentElement.parentElement.delete();
      }
    });
  });
  

</script>
{% endblock javascript %}