{% extends 'riaapp/admin_base.html' %}
{% block content %}
<div class="row" style="margin-top: 3% margin: 0 auto; white-space: nowrap;">
  <!--
  {%include 'riaapp/AddBar.html' %}
  <a id="scrollgraph_btn" href="#graphviz" class="col col-lg-1 btn btn-outline-primary" style="text-align: center; white-space: normal; padding-right: 0; padding-left: 0;">Graph Visualization</a>
  -->
</div>



{% include "riaapp/reqtable.html" %}
{% include "riaapp/graph.html" %}
{% endblock content %}

{% block javascript %}
<script>
  $('#scrollgraph_btn').click(function(){
    scrollingElement = (document.scrollingElement || document.body);
    $(scrollingElement).animate({
      scrollTop: $('#graph_container').position().top
    }, 500);
  });


  $(document).click(function() {
    $('#reqs_table > tbody > tr > th').popover('hide');
  });

  $('#reqs_table > tbody > tr > th').click(function(e) {
    e.stopPropagation();
    req_id = e.currentTarget.parentElement.children[0].innerText;
    $('#reqs_table > tbody > tr > th').popover('hide');
    $(e.target).popover({
      html: true,
      content: function() {
        return $('#popcontent').html();
      },
    });
    $.ajax({
      url: '/riaapp/getreqdeps/',
      data: {
        'req_id': req_id,
      },
      dataType: 'json',
      success: function (data) {
        $("#influencing_pop_tbody").empty();
        for (i in data.influencing) {
          $("#influencing_pop_tbody").append("<tr><td>" + data.influencing[i] + "</td></tr>");
        }
        $("#depending_pop_tbody").empty();
        for (i in data.depending) {
          $("#depending_pop_tbody").append("<tr><td>" + data.depending[i] + "</td></tr>");
        }
        $(e.target).popover('show');
        last_target = e.target;
        $('.popover').css('left', e.clientX + 'px');
        $('.popover').css('top', e.clientY + 'px')
      }
    });
  });


  $('#new_req_text').keypress(function (e) {
    if(e.which == 13) {
      txt = $('#new_req_text').val();
      priority = $('#priority_dd').val();
      type = $('#issue_type_dd').val();
      effort = $('#effort_input').val();
      addIssueFunction(txt, priority, type, effort, true);
      $('#new_req_text').val("");  
      e.preventDefault();
    }
  });
  $('#new_req_btn').click(function (e) {
    txt = $('#new_req_text').val();
    priority = $('#priority_dd').val();
    type = $('#issue_type_dd').val();
    effort = $('#effort_input').val();
    addIssueFunction(txt, priority, type, effort, true);
    $('#new_req_text').val("");
  });


  $('#graphbtn').click(function() {
    $('#presentation_type').html("Graph Presentation");
    d3.select("svg").selectAll("*").remove();
    $.get('/riaapp/getallreqsanddeps/', {}, function(data){
      nodes = [];
      for (var i = 0; i < data.jreqs.length; i++) {
        nodes.push({name: JSON.parse(data.jreqs[i]).title, outdeg: JSON.parse(data.jreqs[i]).outdeg, id: JSON.parse(data.jreqs[i]).id});
      }
      links = [];
      for (var i = 0; i < data.jdeps.length; i++) {
        si = data.jdeps[i].source;
        di = data.jdeps[i].destination;
        links.push({source: si, target: di, type: "depends on"});
      }
      all = {};
      all["nodes"] = nodes;
      all["links"] = links;
      drawDJGraph(all, d3.select("svg"));
    });
  });

  $('#totop_btn').click(function(){
    scrollingElement = (document.scrollingElement || document.body);
    $(scrollingElement).animate({
      scrollTop: 0
    }, 500);
  });
</script>


{% endblock javascript %}
