{% extends 'riaapp/admin_base.html' %}
{% block content %}
<div class="card-deck" style="margin-right: 0.5%; margin-left: 0.5%; margin-top: 0.5%">
  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Search Results</h3>
        </div>
        <div class="col text-right">
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table id="reqs_table" class="table align-items-center hooverable">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="cursor: auto;">Requirement</th>
          </tr>
        </thead>
        <tbody>
          {% for r in res %}
          <tr>
            <td hidden="true">
              {{r.id}}
            </td>
            <td class="clickable_req_cell" style="word-wrap: break-word; word-break: break-all; white-space: normal;">
              {{r.text}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="card-deck" style="margin: 1%;">
  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Influencing On</h3>
        </div>
        <div class="col text-right">
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Requirement</th>
          </tr>
        </thead>
        <tbody id="influencing_tbody">
        </tbody>
      </table>
    </div>
  </div>
  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Depending On</h3>
        </div>
        <div class="col text-right">
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Requirement</th>
          </tr>
        </thead>
        <tbody id="depending_tbody">
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

{% endblock content %}
{% block javascript %}

<script type="text/javascript">
  $(".clickable_req_cell").click(function(e) {
    req_id = e.currentTarget.parentElement.children[0].innerText.trim();
    $.ajax({
      url: '/riaapp/getreqdeps/',
      data: {
        'req_id': req_id,
      },
      dataType: 'json',
      success: function (data) {
        $("#influencing_tbody").empty();
        for (i in data.influencing) {
          $("#influencing_tbody").append("<tr><td>" + data.influencing[i] + "</td></tr>");
        }
        $("#depending_tbody").empty();
        for (i in data.depending) {
          $("#depending_tbody").append("<tr><td>" + data.depending[i] + "</td></tr>");
        }
      }
    });
  });

</script>
{% endblock javascript %}
</body>

</html>